@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

:root {
  /* primary colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --white: hsl(0, 0%, 100%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  /* --Instagram: linear-gradient(to right, #FDC468 0%, #DF4996 100%); */
  --YouTube: hsl(348, 97%, 39%);

  /* dark theme */
  --very-dark-blue: hsl(230, 17%, 14%);
  --very-dark-blue-top: hsl(232, 19%, 15%);
  --dark-desaturated-blue: hsl(228, 28%, 20%);
  --desaturated-blue: hsl(228, 34%, 66%);

  /* light theme */
  --toggle-light: hsl(230, 22%, 74%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
}

main {
  padding: 1rem;
  margin: 0 auto;
}

h3 {
  color: var(--dark-grayish-blue);
  margin: -1rem 0 1.5rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
}

.toggle-container__text {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  transform: translateY(.33rem);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
  transform: scale(.8);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #378FE6;
  background: -moz-linear-gradient(left, #378FE6 0%, #3eda82 100%);
  background: -webkit-linear-gradient(left, #378FE6 0%, #3eda82 100%);
  background:  linear-gradient(to right, #378FE6 0%, #3eda82 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.social__card {
  width: 90vw;
  background-color: var(--light-grayish-blue);
  margin: 1rem auto;
  text-align: center;
  padding: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.social__card:hover {
   background-color: #d8dae1;
}

.social--facebook {
  border-top: 5px solid var(--Facebook);
}

.social--twitter {
  border-top: 5px solid var(--Twitter);
}

.border {
  width: inherit;
  height: 5px;
  background-color: red;
  position: absolute;
}



.social--instagram::before {
  /* content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: red;
  display: block; */
  /* background: #FDC468;
  background: -moz-linear-gradient(left, #FDC468 0%, #df4996 100%);
  background: -webkit-linear-gradient(left, #FDC468 0%, #df4996 100%);
  background: linear-gradient(to right, #FDC468 0%, #df4996 100%); */
}

.social--youtube {
  border-top: 5px solid var(--YouTube);
}

.social__user {
  font-weight: 700;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.social__user img {
  margin-right: .33rem;
  transform: translateY(.25rem);
}

.social__count {
  font-weight: 700;
  font-size: 4rem;
  margin: 1rem 0 .5rem;
}

.social__followers {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 5px;
  margin: 0 0 2rem;
}

.social__change {
  color: var(--lime-green);
  font-weight: 700;
  font-size: .8rem;
}

.social--youtube .social__change  {
  color: var(--bright-red);
}

h2 {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.overview__card {
  max-width: 90vw;
  background-color: var(--light-grayish-blue);
  margin: .75rem auto;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.overview__card:hover {
   background-color: #d8dae1;
}

.overview div p {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.overview__statistic {
  color: black;
  font-size: 2rem;
}

.overview__change {
  color: var(--lime-green);
  transform: translateY(.5rem);
}

.overview__change img {
  transform: translateY(-3px);
}

.neg {
  color: var(--bright-red);
}

/* desktop layout styles */

@media (min-width: 1024px) {

  body::before {
    content: '';
    background-color: var(--very-pale-blue);
    display: block;
    height: 215px;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  main {
    max-width: 80%;
    padding: 0;
  }

  hr {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .toggle-container {
    align-items: center;
  }

  .toggle-container__text {
    transform: translateY(-1px);
  }

  .social {
    display: flex;
    justify-content: space-evenly;
  }

  .social div {
    max-width: 22.5%;
  }

  h2 {
    padding: 0 1rem;
  }

  .overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .overview div {
    width: 77.5%;
  }
}

/* darkmode classes */

.dark-mode {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.dark-mode--card {
  background-color: var(--dark-desaturated-blue);
}

.dark-mode--card:hover {
  background-color: #3b3f54;
}

.dark-mode--title {
  color: var(--white);
}

.dark-mode--text {
  color: var(--desaturated-blue);
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
